<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.luxoft.studentinfo.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.luxoft.studentinfo.Perspective"
            name="RCP Perspective"
            id="com.luxoft.studentInfo.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.luxoft.studentinfo.view.GroupView"
            id="com.luxoft.studentInfo.GroupView"
            name="GroupView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.luxoft.studentinfo.view.InfoEditor"
            default="false"
            id="com.luxoft.studentInfo.InfoEditor"
            name="InfoEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Q">
      </key>
      <key
            commandId="org.eclipse.ui.help.aboutAction"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+A">
      </key>
      <key
            commandId="com.luxoft.studentinfo.EditStudent"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+1">
      </key>
      <key
            commandId="com.luxoft.studentinfo.Open"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+2">
      </key>
      <key
            commandId="com.luxoft.studentinfo.Save"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+3">
      </key>
      <key
            commandId="com.luxoft.studentinfo.Delete"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+4">
      </key>
      <key
            commandId="com.luxoft.studentinfo.AddStudent"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+5">
      </key>
      <key
            commandId="com.luxoft.studentinfo.AddGroup"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.luxoft.studentinfo.OpenStudentInfo"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.luxoft.studentinfo.EditStudent"
            name="Edit Student">
      </command>
      <command
            id="com.luxoft.studentinfo.Open"
            name="Open">
      </command>
      <command
            id="com.luxoft.studentinfo.Save"
            name="Save">
      </command>
      <command
            id="com.luxoft.studentinfo.Delete"
            name="Delete">
      </command>
      <command
            id="com.luxoft.studentinfo.AddStudent"
            name="Add Student">
      </command>
      <command
            id="com.luxoft.studentinfo.AddGroup"
            name="Add Group">
      </command>
      <command
            id="com.luxoft.studentinfo.studentInfo"
            name="Student Info!">
      </command>
      <command
            id="com.luxoft.studentinfo.OpenStudentInfo"
            name="Open Student Info">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:com.luxoft.studentInfo.GroupView">
         <command
               commandId="com.luxoft.studentinfo.OpenStudentInfo"
               icon="icons/open_profile20x20.png"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="true">
                     <adapt
                           type="com.luxoft.studentinfo.model.Student">
                     </adapt></iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.luxoft.studentinfo.EditStudent"
               icon="icons/edit20x20.png"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="true">
                     <adapt
                           type="com.luxoft.studentinfo.model.Student">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.luxoft.studentinfo.AddStudent"
               icon="icons/add20x20.png"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="true">
                     <adapt
                           type="com.luxoft.studentinfo.model.Group">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.luxoft.studentinfo.AddGroup"
               icon="icons/add20x20.png"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="true">
                     <adapt
                           type="com.luxoft.studentinfo.model.Folder">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.luxoft.studentinfo.Delete"
               icon="icons/delete20x20.png"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="true">
                     <adapt
                           type="com.luxoft.studentinfo.model.Entry">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.luxoft.studentInfo.toolbar1">
            <command
                  commandId="com.luxoft.studentinfo.Open"
                  icon="icons/open40x40.png"
                  label="Open"
                  style="push">
            </command>
            <command
                  commandId="com.luxoft.studentinfo.Save"
                  icon="icons/save40x40.png"
                  label="Save"
                  style="push">
            </command>
            <command
                  commandId="com.luxoft.studentinfo.Delete"
                  icon="icons/delete40x40.png"
                  label="Delete"
                  style="push">
            </command>
            <command
                  commandId="com.luxoft.studentinfo.AddStudent"
                  icon="icons/add40x40.png"
                  label="Add Student"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               id="editMenu"
               label="Edit">
            <command
                  commandId="com.luxoft.studentinfo.EditStudent"
                  label="Edit Student"
                  style="push">
            </command>
         </menu>
         <menu
               id="helpMenu"
               label="Help">
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.luxoft.studentinfo.handler.OpenStudentInfoHandler"
            commandId="com.luxoft.studentinfo.OpenStudentInfo">
      </handler>
      <handler
            class="com.luxoft.studentinfo.handler.DeleteHandler"
            commandId="com.luxoft.studentinfo.Delete">
      </handler>
      <handler
            class="com.luxoft.studentinfo.handler.EdtitStudentHandler"
            commandId="com.luxoft.studentinfo.EditStudent">
      </handler>
      <handler
            class="com.luxoft.studentinfo.handler.AddStudentHandler"
            commandId="com.luxoft.studentinfo.AddStudent">
      </handler>
      <handler
            class="com.luxoft.studentinfo.handler.AddGroupHandler"
            commandId="com.luxoft.studentinfo.AddGroup">
      </handler>
      <handler
            class="com.luxoft.studentinfo.handler.OpenFileHandler"
            commandId="com.luxoft.studentinfo.Open">
      </handler>
      <handler
            class="com.luxoft.studentinfo.handler.SaveHandler"
            commandId="com.luxoft.studentinfo.Save">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.luxoft.studentinfo.view.InfoEditorInputFactory"
            id="com.luxoft.studentinfo.InfoEditorInput">
      </factory>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.luxoft.studentInfo.application"
            name="StudentInfo">
         <property
               name="appName"
               value="StudentInfo">
         </property>
      </product>
   </extension>

</plugin>
