<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.luxoft.studentinfo.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.luxoft.studentinfo.Perspective"
            name="RCP Perspective"
            id="com.luxoft.studentInfo.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.luxoft.studentinfo.view.GroupView"
            id="com.luxoft.studentInfo.GroupView"
            name="GroupView"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.luxoft.studentinfo.view.InfoEditor"
            default="false"
            id="com.luxoft.studentInfo.InfoEditor"
            name="InfoEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.ui.file.exit"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+Q">
      </key>
      <key
            commandId="org.eclipse.ui.help.aboutAction"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+A">
      </key>
      <key
            commandId="com.luxoft.studentInfo.editStudent"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+1">
      </key>
      <key
            commandId="com.luxoft.studentInfo.open"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+2">
      </key>
      <key
            commandId="com.luxoft.studentInfo.save"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+3">
      </key>
      <key
            commandId="com.luxoft.studentInfo.delete"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+4">
      </key>
      <key
            commandId="com.luxoft.studentInfo.addStudent"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+5">
      </key>
      <key
            commandId="com.luxoft.studentInfo.addGroup"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="com.luxoft.studentInfo.editStudent"
            name="Edit Student">
      </command>
      <command
            id="com.luxoft.studentInfo.open"
            name="Open">
      </command>
      <command
            id="com.luxoft.studentInfo.save"
            name="Save">
      </command>
      <command
            id="com.luxoft.studentInfo.delete"
            name="Delete">
      </command>
      <command
            id="com.luxoft.studentInfo.addStudent"
            name="Add Student">
      </command>
      <command
            id="com.luxoft.studentInfo.addGroup"
            name="Add Group">
      </command>
   </extension>

</plugin>
